# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# SSL Certificates / Keys
*.pem
*.key
cert.pem
key.pem

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db